{% extends 'base.html' %}
{% load markdownify %}


{% block detail %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'recipe_edit' recipe.id %}">
      <botton>Edit Recipe  ||  </botton>
    </a>
    <a href="{% url 'recipe_delete' recipe.id %}">
      <botton>Delete Recipe</botton>
    </a>
  </div>
  <div class="recipe-photo" >
    {% if recipe.image %}
    <img class="recipe-photo .photo .recipe" src="{{ recipe.image }}" style={ height: '100px', width: '100px'}>
    {% endif %}
  </div>
  <h1>{{ recipe.name }}</h1>
  <p>
    Created on {{ recipe.created }} |
    Updated on {{ recipe.updated }}
  </p>
  <form method="post" action="{% url 'recipe_rating' recipe.id %}">
    {% csrf_token %}
    {{ rating_form.as_p }}
    <button class="button">Rate</button>
  </form>
  <p>Tags: {% for tag in recipe.tags.all %}{{ tag.name }} {% endfor %}</p>
  {{ recipe.description | markdownify }}
  <h2>Ingredients</h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">Amount</th>
        <th>Food item</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in recipe.ingredients.all %}
      <tr>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.measure.name }}</td>
        <td>{{ ingredient.food.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Steps</h2>
  <ol>
    {% for step in recipe.steps.all %}
    <li>{{ step.directions }}</li>
    {% endfor %}
  </ol>
</main>
{% endblock detail %}