{% load static %}
{% load markdownify %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tag - Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Scrumptious</a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li>
                    <a href="{% url 'tag_new' %}">Write a tag</a>
                </li>
            </ul>
        </nav>
    </header>
    <p>
    <form method="GET">
        <input type="text" name="q">
        <button type="submit">Search</button>
    </form>
    </p>
    <main class="recipe-detail">
        <div>
            <a href="{% url 'tag_edit' tag.id %}">
                <botton>Edit tag</botton>
            </a>
            <a href="{% url 'tag_delete' tag.id %}">
                <botton>Delete tag</botton>
            </a>
            <div id="contentwrapper">
                <div id="right">
                <div id="imgdiv">
            {% if tag.image %}
            <img src="{{ tag.image }}">
            {% endif %}
        </div>
    </div>
    </div>
        <h1>{{ tag.name }}</h1>
        <p>
            Created on {{ tag.created }} |
            Updated on {{ tag.updated }}
        </p>
    </main>
</body>

</html>