{% extends 'base.html' %}

{% block delete %}
<main class="recipe-form">
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ meal_plan }}" permanently? </p>
        {{ form.as_p }}
        <div class="control">
            <button class="button">Delete Meal Plan</button>
        </div>
    </form>
</main>
{% endblock delete %}