{% extends 'base.html' %}
{% load markdownify %}

{% block plan %}
<main class="tag-detail">
    <div>
        <a href="{% url 'meal_plans_edit' mealplan.id %}">
            <botton>Edit Meal Plan</botton>
        </a>
        <a href="{% url 'meal_plans_delete' mealplan.id %}">
            <botton>Delete Meal Plan</botton>
        </a>
    </div>
    <h1>{{ meal_plans.name }}</h1>
    <p>
        Created on {{ meal_plans.created }} |
        Updated on {{ meal_plans.updated }}
    </p>
</main>
{% endblock plan %}