{% extends 'base.html' %}

{% block list %}

<main class="recipe-grid">
    <form method="GET">
        <input type="text" name="q">
        <button type="submit">Search</button>
    </form>
    <div>
        {% for meal_plan in meal_plan_list %}
        <div class="recipe-card">
            <h2 class="recipe-card-title">
                <a href="{% url 'meal_plans_detail' meal_plan.id %}">{{ meal_plan.name }}</a>
            </h2>
            <p class="recipe-card-date">{{ meal_plan.updated }}</p>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock list %}