@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
button,
select,
textarea,
input {
  font-family: 'Roboto';
  font-size: 16px;
}

main {
  background-color: #bbd3ea;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

a,
a:visited {
  text-decoration: none;
  color: #205281;
}

button.button {
  background-color: #5295d4;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #4d6bce;
  color: #ffffff00;
}

button.button:active {
  background-color: lightblue;
}

input,
textarea {
  border: 1px solid #5295d4;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td,
th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
  padding-bottom: 40px;
}

.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: darkgray;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-photo.photo.recipe {
  float: middle;
  width: 100px;
  height: 150px;
}

.recipe-photo .pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}

form {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

/* Style the form header */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style the form input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the form button */
button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

/* Change the button color on hover */
button[type=submit]:hover {
  background-color: #45a049;
}

/* Style form errors */
.errorlist {
  color: red;
  margin-top: 10px;
}