{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe - Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Scrumptious</a>
                </li>
                {% if user.is_staff %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'recipe_new' %}">Write a recipe</a>
                </li>
                <li>
                    <a href="{% url 'tags_list' %}">Tags</a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'meal_plans_new' %}">Create New Meal Plans</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'meal_plans_list' %}">View Meal Plans</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock content %}

        {% block detail %}
        {% endblock detail %}

        {% block delete %}
        {% endblock delete %}

        {% block new %}
        {% endblock new %}

        {% block plan %}
        {% endblock plan %}

        {% block list %}
        {% endblock list %}
    </div>
    <footer>
        
    </footer>
</body>

</html>